/*boton btn__RED-02 */
.boton__RED-02{
    padding: 2rem;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    border: 5px solid aquamarine;
    display: flex;
    justify-content: center;
    margin: 2.5rem 8.5rem;
    position: fixed;

}
.boton__RED-02 label{
    padding: 2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(160, 100%, 75%, 0.5) ;
    color: white;  
    cursor: pointer;
    transition: all 300ms ease;
    margin: -2rem;
    position: fixed;
}
.boton__RED-02 label:hover{
    background-color: rgb(31, 194, 139);  
}

#btn__RED-02{
    display: none;
}
.container__RED-02{
    width: 100rem;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgb(144,  148, 180, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn__RED-02:checked ~ .container__RED-02{
    display: flex;
}
.contenido__RED-02{
    width: 100rem;
    height: 50vh;
    max-width: 30rem;
    padding: 0.3rem 2rem;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
}
.contenido__RED-02 h1{
    text-align: center;
    padding: 0.8rem;
    color: black;
}
.contenido__RED-02 img{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 15px 15px;
    border-bottom: 1px  rgb(128, 47, 47);
}
.contenido__RED-02 .btn__cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end ;
    border-top: solid rgb(192, 180, 180) 1px;
    
}
.contenido__RED-02 .btn__cerrar label{
    padding: 7px 10px;
    background-color: rgb(38, 208, 238);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
   margin-top: 15px;
}
.contenido__RED-02 .btn__cerrar label:hover{
    background-color: rgb(29, 173, 125);
}